:root{
    /* Color */
    --color-black: #263238;
    --color-neutral: #F5F7FA;
    --color-grey: #717171;
    --color-d-grey: #4D4D4D;
    --color-primary: #4CAF4F;
    /* Texte */
    --font-family:"inter", sans-serif;

    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;

    --font-size-14px: 0.875rem;
    --font-size-16px: 1rem;
    --font-size-28px: 1.75rem;
    --font-size-32px: 2rem;
    --font-size-36px: 2.25rem;
    --font-size-64px: 4rem;
}

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-family);
    font-size: var(--font-size-16px);
    color: var(--color-d-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-neutral);
    gap: 145px;
    padding: 22px 105px;
    width: 1440.98px;
}

.header .navigation{
    display: flex;
    gap: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* .menu{
    width: 50px;
    height: 50px;
    background-color: violet;
}

@media (min-width: 768px) {
    .menu {
        display: none;
    }
} */

.navigation a{
    text-decoration: none;
    color: var(--color-black);
    font-family: var(--font-family);
}

.button-login {
    background-color: var(--color-neutral);
    color: var(--color-primary);
    text-decoration: none;
    padding: 10px 20px;
}

.button-signup {
    background-color: var(--color-primary);
    color: var(--color-neutral);
    border-radius: 6px;
    text-decoration: none;
    padding: 10px 20px;
}

/* main {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.hero-section {
    background-color: var(--color-neutral);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 104px;
    padding: 96px 144px;
}

.frame1{
    display: flex;
    flex-direction: column;
    width: 658px;
    gap: 32px;
}

.frame1 h1 {
    margin-bottom: 0px;
    font-weight: 600;
    font-size: var(--font-size-64px);
    line-height: 76px;
    text-align: left;
}

.frame1 span {
    color: var(--color-primary);
}

.frame1 p {
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 32px;
}

.button-register {
    background-color: var(--color-primary);
    color: var(--color-neutral);
    border-radius: 4px;
    text-decoration: none;
    padding: 14px 32px;
    margin-top: 32px;
}



.community {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.community-title h2 {
    font-size: var(--font-size-36px);
    font-weight: var(--font-weight-600);
    line-height: 44px;
    text-align: center;
    margin: 0px;
}

.community-title p {
    color: var(--color-grey);
    font-size: var(--font-size-16px);
    font-weight: var(--font-weight-400);
    line-height: 24px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 16px;
}

.cards {
    display: flex;
    justify-content: space-around;
    gap: 127.5px;
    padding-right: 144px;
    padding-left: 144px;
}

.card {
    width: 299px;
    height: 260px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 0px #ABBED133;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    max-width: 65px;
    max-height: 55px;
}

.card h3 {
    color: var(--color-d-grey);
    font-size: var(--font-size-28px);
    font-weight: var(--font-weight-700);
    line-height: 36px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 8px;
}

.card p {
    font-size: var(--font-size-14px);
    font-weight: var(--font-weight-400);
    line-height: 20px;
    text-align: center;
    margin: 0px;
}



.body-section {
    margin-top: 42px;
}

.unlock {
    padding: 0px 144px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.unlock .unlock-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.unlock-title h2{
    font-size: var(--font-size-36px);
    font-weight: var(--font-weight-600);
    line-height: 44px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 16px;
}

.unlock-title p{
    color: var(--color-grey);
    font-size: var(--font-size-14px);
    font-weight: var(--font-weight-400);
    line-height: 20px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 46px;
}

.button-learnmore {
    background-color: var(--color-primary);
    color: var(--color-neutral);
    border-radius: 4px;
    text-decoration: none;
    padding: 14px 32px;
}



.footer {
    display: flex;
    align-items: center;
    padding: 0px 144px;
}

.container-footer {
    background-color: #ffffff;
}

.hfooter{
    background-color: var(--color-neutral);
}

/*.hfooter{
    padding: 64px 0px;
    border-radius: 8px;
    background-color: var(--color-neutral);
}*/

/* .hfooter p {
    color: var(--color-black);
    font-size: var(--font-size-64px);
    font-weight: var(--font-weight-600);
    line-height: 76px;
}

.hfooter a{
    width: 154px;
    height: 52px;
    padding: 14px 32px;
    border-radius: 4px;
    background-color: var(--color-primary);
    font-size: var(--font-size-16px);
    font-weight: var(--font-weight-500);
    line-height: 24px;
} */

.ffooter {
    background-color: var(--color-black);
    padding: 64px 165px;
    display: flex;
    gap: 8px;
}

.ffooter p {
    color: var(--color-neutral);
    font-size: var(--font-size-14px);
    font-weight: var(--font-weight-400);
    line-height: 20px;
    text-align: left
}
